body{
	background-color: #1224b3;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
}
h1{
	margin-top: 100px;
	text-decoration: underline;
}
.input-field1{
	border: 2px solid black;
	border-radius: 18px;
	height: 30px;
	outline: none;
	text-align: center;
}
label{
	color: white;
	font-size: 25px;
}
.input-field2{
	border: 2px solid black;
	border-radius: 18px;
	height: 40px;
	width: 100px;
	font-size: 20px;
	font-weight: bold;
	outline: none;
	text-align: center;
}
#back-icon{
	color: white;
	margin-left: 1200px;
	margin-top: 10px;
	font-size: 40px;
}
.success_msg{
	color: white;
	font-size: 25px;
	text-align: center;
}
.error_msg{
	color: white;
	font-size: 25px;
	text-align: center;
}